* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1194px;
  margin: auto;
}

.header {
  align-items: center;
  display: flex;
  padding: 10px 0;
}

.search-form {
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
  margin-left: 76px;
  max-width: 620px;
  position: relative;
}

.search-input {
  background-color: transparent;
  border: none;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 100%;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
  position: absolute;
  right: 0;
  top: 0;
}

.auth {
  margin-left: auto;
}

.login {
  background: #ebebeb;
  border-radius: 50px;
  color: #000000;
  display: block;
  padding: 16px 30px;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}

.shopping-cart {
  align-items: center;
  background: #f66a15;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  position: relative;
  text-decoration: none;
  height: 49px;
  width: 49px;
}

.shopping-counter {
  background: #ffaf19;
  border-radius: 50%;
  display: block;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  padding: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.slide {
  position: relative;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  min-height: 400px;
  padding: 100px;
}

.slide-text-light {
  background-color: grey;
  color: white;
}

.slide-content {
  max-width: 400px;
  position: relative;
}

.slide-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 15px;
}

.slide-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}

.button-primary {
  background: #f47322;
  color: #fff;
}

.button-defalt {
  background-color: #fff;
  color: #5f5f61;
}

.button {
  border-radius: 25px;
  display: inline-block;
  padding: 12px 50px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

.slide-summer {
  background-image: url(../img/summer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 100%;
  width: 100%;
}

.promo {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  margin: -20px;
}

.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex: 50%;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  padding: 32px;
  min-height: 380px;
  max-width: 570px;
  margin: 20px;
}

.card:before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.card-text-light {
  color: #fff;
}

.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}

.card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}

.card-price {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}

.card-delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}

.card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}

.delivery-week {
  padding: 100px 0;
}

.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.delivery-card {
  border-radius: 18px;
  overflow: hidden;
  height: 182px;
  width: 275px;
  position: relative;
  margin: 15px;
}

.delivery-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.delivery-tag {
  border-radius: 30px;
  position: absolute;
  left: 10px;
  top: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  padding: 5px 10px;
}

.tag-health {
  background: #d0fd89;
}

.tag-vegetable {
  background: #aebc41;
  color: #ffffff;
}

.tag-meat {
  background: #b86b78;
  color: #ffffff;
}
.tag-bird {
  background: #d68334;
  color: #ffffff;
}

.tag-fish {
  background: #cd6255;
  color: #ffffff;
}

.tag-baby {
  background: #fffdbf;
}

.tag-parents {
  background: #f6fdc8;
}

.tag-festive {
  background: #fef7fe;
}

.section-grey {
  background: #f6f6f6;
}

.category {
  padding-top: 40px;
  padding-bottom: 60px;
}

.tabs {
  display: flex;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style: none;
}

.tabs-link {
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  text-decoration: none;
  margin-right: 58px;
}

.tabs-link.active {
  color: #f37321;
}

.tabs-content {
  display: flex;
  margin: -20px;
}

.tabs-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  max-width: 270px;
  margin: 20px;
}

.tabs-image {
  max-width: 100%;
}

.tabs-card-content {
  padding: 23px;
}

.tabs-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 13px;
}

.tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}

.tabs-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.tabs-price {
  display: block;
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
  margin-bottom: 5px;
}

.tabs-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}

.button-outline {
  background-color: transparent;
  border: 2px solid #f37321;
  box-sizing: border-box;
  border-radius: 33px;
  cursor: pointer;
  padding: 15px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
}

.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}

.benefits {
  padding-top: 100px;
  padding-bottom: 202px;
}

.benefits-content {
  display: flex;
  margin: -20px;
}

.benefits-card {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  width: 270px;
  height: 296px;
  padding-top: 30px;
  margin: 20px;
}

.benefits-image {
  margin-left: 105px;
  margin-bottom: 34px;
  max-width: 60px;
  max-height: 60px;
}

.benefits-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  max-width: 188px;
  max-height: 46px;
  margin-top: 0;
  margin-bottom: 13px;
  margin-left: 30px;
}

.benefits-description {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494f;
  margin-left: 24px;
  margin-right: 23px;
  max-width: 223px;
  max-height: 88px;
}

.footer {
  background: #f6f6f6;
  padding: 40px 0;
}

.footer-wrapper {
  align-items: center;
  display: flex;
}

.footer-logo {
  margin-right: 50px;
}

.footer-link {
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  margin-right: 50px;
}

.social-links {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.social-link {
  margin-left: 20px;
  text-decoration: none;
}
